.thin-strip{
	width:100%;
	height:3px;
	background-color:#fff;
	position:fixed;
	top:0px;
	z-index: 9999;

}
/* background: url(../img/landing1.jpg) no-repeat scroll center center / cover transparent; */
#tabzilla{
	right:15%;
	z-index: 10000;
	top:auto;
	position:absolute;
}
.full-width{
	min-width:100%;
	max-width:100%;
	width:100% !important;
	
}
body{
	margin-bottom:15em;
	background-color:#F7F7F7;
}

section.all-wrap{
	margin-bottom:17em;
	background-color:#f7f7f7;
}
section{
	z-index: 2;
	/* background-color:#fff; */
}
.heading{
	/* font-family: 'Josefin Slab', serif; */
	letter-spacing: 0.03em;
	font-weight: 400;
	color:#1A1A1A;
	margin-bottom:30px;
}
.landing-section{
	height:100vh;
}
.mobile-logo-div{
	display: none;
	height:200px;
	background: url(../img/logo.jpeg) no-repeat scroll center center / 50% transparent; 
	background-color:#fff;
}
.landing-section .landing-section-half{
	height:100%;
	border-bottom:1px solid #e5e5e5;
}
.landing-section-half.desc-half{
	background-color:#29ACE2;
	
}
.landing-section-half.desc-half .title{
	font-family: 'Josefin Slab', serif;
	padding-top:120px;
	color:#fff;
	font-weight:600;
	font-size:50px;
}
.landing-section-half.desc-half .register-button-div a{
	padding:12px 30px;
	border-radius:5px;
}
.landing-section-half.desc-half .register-button-div a:last-child{
	margin-left:15px;
}
.landing-section-half.desc-half .sharing-div{
	padding-top:30px;
}
.landing-section-half.desc-half .sharing-div .share-text{
	color:#fff;
	font-size:28px;
}
.landing-section-half.desc-half .sharing-div .share-buttons{
	color:#fff;
	font-size:40px;
}
.landing-section-half.desc-half .sharing-div .share-buttons a{
	padding-left:5px;
	color:#fff;
}
.landing-section-half.desc-half .sharing-div .share-buttons a:hover{
	transition:all ease 0.3s;
	color:#f5f5f5;
}
.landing-section-half.logo-half{
	background: url(../img/logo.jpeg) no-repeat scroll center center / 50% #fff; 
}

.speakers-section{
	padding-top:30px;
	padding-bottom:30px;
	background-color: #F7F7F7;
}
.speakers-section .speaker-wrapper{
	padding-top:20px;
	padding-bottom:40px;
}
.speakers-section .speaker-item{
	margin-bottom:20px;
}
.speaker-item .speaker-image{
	padding:0px;
	height:170px;
}
.speaker-item .speaker-image img{
	width:100%;
	height:100%;

}
.speaker-item .speaker-info{
	height:170px;
	background-color: #fff;
}
.speaker-item .title-div{
	padding-top:40px;
	color: #1A1A1A;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.speaker-item .role-div{
	padding-top:20px;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
}

.google-form-div{
	padding-left:0px;
	padding-right:0px;
	background-color: #F7F7F7;
}
.google-form-div>div{
	padding-left:0px;
	padding-right:0px;
	margin-bottom: -10px;
}
.google-form-div iframe{
	width:100%;
	margin:auto;
}
#map-canvas{
	height:400px;
}
footer{
	background-color:#565a5c;
	padding:70px 0px;
	font-size: 12px;
	position: fixed;
	bottom: 0px;
	z-index: -1;
	backface-visibility: hidden;
	width:100%;
}
footer .copyright{
	color:#bbb;

}
footer ul li{
	list-style-type: none;
	line-height: 1.2;
}
footer .medium-6{
	padding:0px;
}
footer ul a{
	font-size:12px;

}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}
@media only screen and (max-width: 40em){
	.mobile-logo-div{
		display:block;
	}
	.no-padding-small{
		padding:0px;
	}
	.landing-section-half.desc-half .title{
		padding-top:30px;
		font-size:30px;
	}
	.landing-section-half.logo-half{
		display: none;
	}
	.landing-section-half.desc-half .register-button-div a:last-child {
		margin-left:0px;
	}
	footer .medium-6{
		padding-top:10px;
	}
}